# OmniSpend Solver Bot Configuration
AUCTIONEER_URL="http://localhost:3001"

# To enable REAL smart contract execution (Bot Blue), enter the Private Key for
# this solver address: 0x6214e4E81a075c7CA6F4B5725eCd943D1C6b642C
PRIVATE_KEY=""
